<h1>Editing Resource Type Attribute</h1>

<%= render 'form', resource_type_attribute: @resource_type_attribute %>

<%= link_to 'Show', @resource_type_attribute %> |
<%= link_to 'Back', resource_type_attributes_path %>
